#canvasContainer {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    margin-left: 5%;
    margin-top: 5vh;
  }
  
  #myCanvas {
    aspect-ratio: 16 / 9; /* Maintain 16:9 aspect ratio */
    width: 100%;
    max-width: 100%;  /* Constrain within the parent */
    height: auto;     /* Allow the height to adjust automatically */
}

#colorPicker {
    margin: 10px 0;
}